<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @kwasny.imie %>
</p>

<p>
  <strong>Ilewypil:</strong>
  <%= @kwasny.ilewypil %>
</p>

<p>
  <strong>Czyjesttakbardzochorynajakiegowyglada:</strong>
  <%= @kwasny.czyjesttakbardzochorynajakiegowyglada %>
</p>

<%= link_to 'Edit', edit_kwasny_path(@kwasny) %> |
<%= link_to 'Back', kwasnies_path %>
